<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		title Portafolio de Clientes - Maestro21.com
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
		link(rel="stylesheet", href="css/estilos.css")
		script(type="text/javascript", src="js/jquery.min.js")
		script(type="text/javascript", src="js/main.min.js")
	body
		.pagina
			.izquierda
				.iconope
					a(href="")
						img(src="img/logo.png")
				.logotext
					a(href="")
						img(src="img/logo-text.png")
				ul.iconos
					li
						b Call Center:
						ul
							li.info
								p (01) 7075700
					li
						b Soporte:
						ul
							li.info
								a(href="https://Soporte.Maestro21.com", target="_blank") soporte </a>
							li.info
								a(href="mailto:soporte@maestro21.com") soporte@maestro21.com
					li
						b Atención  del Cliente:
						ul
							li.info
								a(href="https://sistema.Maestro21.com/", target="_blank") sistema
				.foto21
				.redes
					.sociallink
						a(href="http://21.edu.pe/", target="_blank")
							img(src="img/ico_facebook.png")
						a(href="http://www.linkedin.com/company/2323461", target="_blank")
							img(src="img/ico_linkedin.png")
						a(href="https://plus.google.com/108345925229057499760", target="_blank")
							img(src="img/ico_rss.png")
						a(href="https://twitter.com/Maestro21edu", target="_blank")
							img(src="img/ico_twitter.png")
			.derecha
				.nuestros
					p Confían en nosotros
				br
				br
				.view.view-eighth
					img(src="img/abiunsa.png")
					.mask
						h2 Abiunsa
						br
						br
						p Blog Informativo.
				.view.view-eighth
					img(src="img/ajedrez.png")
					.mask
						h2 Ajedrez
						br
						br
						p ¡Lo mejor del Ajedrez!
				.view.view-eighth
					img(src="img/lp.png")
					.mask
						h2 Legis<br/>Prudencia
						br
						br
						p Un espacio pùblico para discutir las razones polìticas de la ley...
				.view.view-eighth
					img(src="img/komensky.png")
					.mask
						h2 Komensky
						br
						br
						p Centro Educativo de Arte, Ciencias y Tecnología
				.view.view-eighth
					img(src="img/adi.png")
					.mask
						h2 ADI
						br
						br
						p Club Físicos Matemáticos
				.view.view-eighth
					img(src="img/culturapreventiva.png")
					.mask
						h2 Cultura Preventiva
						br
						br
						p Organización sín fines de lucro SAFETY & HEALTH
				.view.view-eighth
					img(src="img/unsa.png")
					.mask
						h2 Unsa
						br
						br
						p Universidad Nacional
				.view.view-eighth
					img(src="img/casavisor.png")
					.mask
						h2 Casa Visor
						br
						br
						p Casas y Proyectos
				.view.view-eighth
					img(src="img/corasil.png")
					.mask
						h2 Corasil
						br
						br
						p Productos Orgánicos
				.view.view-eighth
					img(src="img/aulavirtual.png")
					.mask
						h2 Maestro21<br/>.edu.pe
						br
						br
						p Aulas Virtuales
				.view.view-eighth
					img(src="img/aulavirtual.png")
					.mask
						h2 Maestro21<br/>.org
						br
						br
						p Blog Informativo