<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Portafolio - Maestro21.com
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
		link(rel="stylesheet", href="css/estilos.css")
	body
		.pagina
			.izquierda
				.iconope
					a(href="")
						img(src="img/logo.png")
				.logotext
					a(href="")
						img(src="img/logo-text.png")
				ul.iconos
					li
						<b> Call Center: </b> (01) 7075700

	script(type="text/javascript", src="js/jquery.min.js")
	script(type="text/javascript", src="js/main.min.js")